/* src/components/Navbar.css */
.navbar {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-icons {
  margin-left: auto;
}

.profile-dropdown-toggle {
  background: transparent;
  border: none;
  color: white;
}
