/* src/components/Sidebar.css */
.sidebar {
  height: calc(100vh - 60px); /* Adjust based on navbar height */
  width: 250px;
  padding: 20px;
  background-color: #343a40;
  position: fixed;
  top: 60px; /* Adjust based on navbar height */
}

.sidebar-link {
  color: #ddd;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  color: #007bff;
}

.sidebar-link .icon {
  margin-right: 10px;
}
